body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(242, 191, 233);
    text-align: center;
}

h1{
    font-size: 2.5rem;
    color: rgb(100, 20, 126);
}

form{
    background-color: white;
    padding: 20px;
    box-shadow: 5px 5px 15px rgb(35, 1, 44);
    border-radius: 2rem;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    font-size: 1.5rem;
    color: rgb(70, 69, 69);
}

input{
    width: 50%;
    font-size: 2em;
    text-align: center;
    margin: auto;
    border-radius: 10px;
}

button{
    background-color: rgb(168, 58, 212);
    border: 20px;
    border-radius: 13px;
    font-size: 1.5rem;
    font-weight: 20px;
    color: white;
    padding: 8px 8px;

}

button:hover{
    background-color: rgb(146, 23, 194);
    cursor: pointer;
}

p{
    font-size: 2rem;
    color: rgb(70, 69, 69);
}

#total-amount{
    color: rgb(244, 61, 180);
}