button{
    padding: 10px 20px;
    background-color: #bd3087;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #a0276f;
}
body{
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin: 50px;
}